{{ define "main" }}
<section id="main-header" class="thm-dark">
  {{ template "main-header" . }}
</section>
<section id="main-content">
  {{ template "main-content" . }}
</section>
{{ end }}

{{ define "main-header" }}
<div class="wrapper">
  <div class="title">
    {{ .Title }}
  </div>
  <div class="content">
    {{ with .Content }}
      {{ . }}
    {{ end }}
</div>
{{ end }}

{{ define "main-content" }}
<section class="thm-dark">

</section>

<div class="flex-row">
  <div class="f-row-left">

  </div>
  <div class="f-row-middle">
    <section id="section-list">
      <ul>
        {{ range .Data.Pages }}
        <li class="tile flex-col z1">
          <a class="stretched-link" href="{{ .RelPermalink }}"></a>
          <div class="date mono"><small>{{ .Date.Format .Site.Params.date.format }}</small></div>
          <div class="title"><h3>{{ .LinkTitle }}</h3></div>
          <div class="summary">
            <p>
              {{ if .Description }}
                {{ .Description }}
              {{ else }}
                {{ .Summary | truncate 180 }}
                {{ if .Truncated }}<span><small><b>[Read More]</b></small></span>{{ end }}
              {{ end }}
            </p>
          </div>
          {{ with .GetTerms "Tags" }}
          <div class ="tags stretched-link-inner">
            {{ range . }}<a class="tag-item z2 mono" href="{{ .RelPermalink }}">#{{ .LinkTitle }}</a>{{ end }}
          </div>
          {{ end }}
        </li>
        {{ end }}
      </ul>
    </section>
  </div>
  <div class="f-row-right">
    <section id="section-tag" class="sticky-top">
      {{- partial "widgets/tag_cloud.html" . -}}
    </section>
  </div>
</div>
{{ end }}