{{ define "main" }}
<section id="main-header" class="thm-dark">
  {{ template "main-header" . }}
</section>
<section id="main-content">
  {{ template "main-content" . }}
</section>
{{ end }}

{{ define "main-header" }}
<div class="wrapper">
  {{ if .Date }}
  <div class="date mono"><small>{{ .Date.Format .Site.Params.date.format }}</small></div>
  {{ end }}
  {{ with .GetTerms "Tags" }}
  <div class ="tags flex">
    {{ range . }}<a class="tag-item z2 mono" href="{{ .RelPermalink }}">#{{ .LinkTitle }}</a>{{ end }}
  </div>
  {{ end }}
  <div class="title post-title">{{ .Title }}</div>
</div>
{{ end }}

{{ define "main-content" }}

<sidebar id="section-toc" class="sticky-top pull-right-side">
  {{- partial "widgets/toc.html" . -}}
</sidebar>

<div class="wrapper">
  <div style="margin-top: 5vh;"></div>
  <article id="post-article" class="content">
    {{ .Content }}
  </article>
  <div style="margin-top: 5vh;"></div>
  <section>
      {{- partial "widgets/comments.html" . -}}
  </section>
</div>
{{ end }}