.masthead {
  border-bottom: 1px solid #ddd;
  background-color: white;
}

nav {
    display: flex;
    align-items: center;
    min-height: 50px;
}

nav a {
  display: inline-block;
  margin-right: 1.2em;
  padding-bottom: 0.2em;
  border-bottom: 3px solid transparent;
}
nav a:last-child {
  margin-right: 0;
}

nav a:hover {
  text-decoration: none;
  border-bottom: 3px solid #3073b3;
}

.masthead .logo a, .masthead .logo a:hover {
  color: black;
  /*text-decoration: none;*/
}

.logo .name {
  font-weight: bold;
  display: inline-block;
}

.logo small em {
  font-weight: 400;
}

.logo .avatar {
  border-radius: 50%;
  max-width: 50px;
  vertical-align: -9px;
  margin-left: 12px;
}

@media (max-width: 480px) {
  .masthead .logo {
    clear: left;
    text-align: center;
    float: none;
  }

  .masthead nav {
    float: none;
    justify-content: center;
    margin-top: 1em;
  }
}


