

#section-list {
    padding-top: 20px;
    padding-bottom: 20px;
}

#section-list ul li + li {
    margin-top: 20px;
}

#section-list li {
    display: flex;
    padding: 20px;
}

#section-list .date {
    padding-bottom: 10px;
}

#section-tag {
    padding: 20px;
    max-width: 220px;
}
@media (max-width: 1040px) {
    #section-tag {
        max-width: 100%;
    }
}

/*          tag-cloud                  */
#tag-cloud {
}

#tag-cloud-header {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}
.tag-item {
    padding-right: 0.3em;
}


/*          toc                        */
#section-toc {
    padding: 20px;
    top: 50px;
}

#toc{
    min-width: 200px;
    width: 100%;
    max-width: 280px;
}

#toc-header {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

#TableOfContents {
}
#TableOfContents li {
    display: block;
    font-size: small;
    margin: 12px 0px 12px 1em;
}
#TableOfContents a {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


/*          pagetree                   */
#section-pagetree {
    height: 100vh;
}

#pagetree {
    padding: 20px;
    min-width: 200px;
    width: 100%;
    max-width: 280px;
}


#pt-header {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.pt-toggle {
}

.pt-item {
}
.pt-item .title {
    padding: 10px;
    width: 100%;
}
.pt-list li {
    list-style: none;
    font-size: small;
}

.pt-collapse-button {
    padding: 10px;
}
.pt-collapse-button.collapsed {
    transform: rotateZ(90deg);
    vertical-align: middle;
}
.pt-item-childs {
    margin-left: 1em;
    border-left: 1px solid #ddd;
    display: none;
}

.pt-item-childs.collapsed {
    display: block;
}


/*                                       */
@media (max-width: 1240px) {
    #section-toc {
        display: none;
    }
    #section-pagetree {
        /* display: none; */
        position: fixed;
        height: 100%;
        top: 0;
        width: 280px;
        background-color: var(--color-bg);
        z-index: 9999;
        border-right:  1px solid var(--color-border);
        transform: translateX(-100%);
        transition: all .3s;
    }
    #section-pagetree.active {
        transform: translateX(0);
    }
}


#post-article {
    min-height: 30vh;
}