
#post-header {
    background-color: #3073b3;
    color: white;
}

.post-header-inner {
    padding-top: 1.5em;
}

.post-photo {
    height: 24em;
    background-size: cover;
    background-position: center;
}
@media (max-width: 480px) {
    .post-photo {
        height: 14em;
    }
}

#post-header .post-title {
    margin-top: 1em;
    margin-bottom: 8px;
    font-size: 1.5em;
    font-weight: bold;
}

#post-header .post-date {
    font-family: "Ubuntu Mono";
    color: #dedede;
    display: block;
    margin-top: 4px;
    margin-bottom: 4px;

}

#post-header .tag {
    font-family: "Ubuntu Mono";
    color: #dedede;
    display: inline-block;
    margin-top: 4px;
    margin-bottom: 4px;
}

#post-header .tag a {
    color: #dedede;
}

.suggest-translate, .suggest-translate a {
    color: #ddd !important;
    padding-top: 0.5em !important;
    font-size: 0.9em;
    font-style: italic;
}


/* ---------------------------------------------*/

#post-article {
    background-color: white;
}

.post-article-inner {
    padding-top: 1.5em;
}

.post-article-content > * {
    max-width: 800px;
    padding: 0 10px;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 850px) {
  .post-article-content > * {
    width: auto !important;
  }
}

.post-article-content > ul, .post-article-content > ol {
  padding-left: 2.5em;
}

.video-wrapper {
  max-width: 600px;
}
.video-wrapper-inner {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.video-wrapper-inner iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
