/*
  Colors
  dark blue: #255b96
  light blue: #3073b3
  gray: #c6c1bc
  black: #2a1e28
  red: #901a12
*/

@import url('syntax.css');

.pull-right { float: right; }
.pull-left { float: left; }
.clear { clear: both; }
.center { text-align: center !important; }
.right { text-align: right; }
.spacer {
  border-top: 1px solid #E6E6E6;
  margin: 3em auto;
}
.without-border {
  border: none;
}

.separator {
  padding-bottom: 0.8em;
  margin-bottom: 1.4em;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  width: 100%;
  max-width: 800px;
}

.sticky-bottom {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  bottom: 0;
}

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Ubuntu', sans-serif;
  text-rendering: optimizeLegibility;
}

p { margin: 0.5em 0; }

h1, h2, h3, h4, h5 {
  margin-top: 1em;
  margin-bottom: 0.3em;
}

h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.2em;
}
h3 {
  font-size: 1em;
}
h4 {
  font-size: 1em;
  font-style: italic;
  padding-left: 1em;
}
h5 {
  font-size: 0.8em;
  font-style: italic;
  padding-left: 2em;
  color: #999;
}




/* Common */
table {
  font-size: inherit;
  width: 100%;
  border-collapse: collapse;
}

table td, table th {
  border: 1px solid #999;
  padding: 0.4em;
}


a, a:active {
  text-decoration: none;
  color: #3073b3;
}

a:visited {
  color: #3073b3;
}

a.selected {
  color: black;
}

a:hover {
  text-decoration: underline;
}

a.discreet {
  color: #222;
}

/*                        */

.projects .img-container {
  width: 240px;
  height: 250px;
}
.projects img {
  display: block;
  margin: auto;
  width: auto;
  max-height: 250px;
}


.english_idx {
  font-weight: 400;
  font-size: 50%;
  color: #999;
}

/*
@media (max-width: 850px) {
  .inner, pre code, .post > * {
    width: auto !important;
  }
  .post > .highlighter-rouge {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
*/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
  padding-left: 0;
}

ul.posts li {
  margin-bottom: 1.5em;
}

ul.posts .date {
  margin-right: 0.3em;
  display: inline-block;
  color: #666;
  font-family: "Ubuntu Mono";
}

ul.posts .description {
  color: #666;
}

/*Tag from https://alexpearce.me*/
.tag-nav li {
  font-family: "Ubuntu Mono";
  display: inline-block;
  border: 1px solid #255b96;
  border-radius: 5px;
  margin: 2px;
}

.tag-nav li a {
  padding: 0em 0.3em;
  display: inline-block;
  text-decoration: none;
}

.tags {
  font-family: "Ubuntu Mono";
}

figure .two-third {
  max-width: 66%;
}

@media (max-width: 600px) {
  figure .two-third {
    max-width: 100%;
  }
}


/*****************************************************************************/
/*
/* pagination
/*
/*****************************************************************************/

.pagination {
  padding: 0.3em 0;
}

.pagination a {
  display: inline-block;
  width: 100%;
}

.pagination .selected {
  display: inline-block;
  width: 100%;
}

.pagination ul {
  text-align: center;
  list-style-type: none;
}

.pagination li {
  background-color: white;
  display: inline-block;
  border: 1px solid #255b96;
  border-right-width: 0;
  min-width: 4em;
}

.pagination li:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination li:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-right-width: 1px;
}


/*****************************************************************************/
/*
/* Page nav
/*
/*****************************************************************************/

.page-nav {
  overflow: hidden;
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
  background-color: white;
  padding: 0.5em 0;
}

.page-nav a {
  width: 39%;
  float: left;
}
.page-nav .top {
  width: 20%;
  text-align: center;
  border-left: 1px solid #E6E6E6;
  border-right: 1px solid #E6E6E6;
}
.page-nav .next {
  text-align: right;
}


/* standard */
* > .highlighter-rouge {
    max-width: 100% !important;
    word-wrap: break-word;
}

code {
    border: 1px solid #eee;
    padding: 0 3px;
    font-size: 13px;
    font-family: "Ubuntu Mono";
}

pre {
    border-width: 1px 0px;
    border-style: solid none;
    border-color: rgb(210, 210, 210);
    white-space: pre;
    margin: 0.5em 0;
    overflow-x: auto;
    padding: 0.5em;
}

pre code {
    border: none;
    display: block;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    line-height: 150%;
}

.post ul, .post ol {
  padding-left: 2.5em;
}

/* Quotes */
blockquote {
  margin: 1em 0 1em -1em;
  color: #666;
  border-left: 0.4em solid #3073b3;
  padding-left: 0.6em;
  font-style: italic;
}

img.inline.pull-right {
  margin-left: 1em;
}

img {
  max-width: 100%;
}

img.small {
  max-width: 50%;
}

img + em {
  display: block;
  font-size: 0.8em;
  padding-bottom: 1em;
}

.english-post {
  font-size: 1em;
  height: 18px;
  margin-left: 0.2em;
  color: #bcc5c8;

}

.english-flag {
  vertical-align: -3px;
  height: 18px;
  margin-left: 0.2em;
}

.gist {
  font-size: 0.7em !important;
  line-height: 130% !important;
}
.gist .lines {
  width: 100%;
}

@media (max-width: 380px) {
  .about-me h1 {
    text-align: center;
  }
}

/* From http://designmodo.github.io/Flat-UI/ */
.btn {
  border: none;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.4;
  border-radius: 4px;
  padding: 10px 15px;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear;
  background-color: #255b96;
  color: #ffffff !important;
  text-decoration: none;
}
.btn:hover,
.btn:focus {
  color: #ffffff;
  background-color: #3073b3;
  text-decoration: none;
  cursor: pointer;
}
.btn:active,
.btn.active {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-lg {
  padding: 10px 19px;
  font-size: 17px;
  line-height: 1.471;
  border-radius: 6px;
}

.form-control {
  -moz-box-sizing: padding-box;
  box-sizing: padding-box;
}

.slideshare {
  height: 549px;
  width: 100%;
}

.video-wrapper {
  max-width: 600px;
}
.video-wrapper-inner {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.video-wrapper-inner iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.uslide-container {
  max-width: 800px;
}

