---
layout: default
category: about
---
<section class="about-me inner" itemscope itemtype="http://data-vocabulary.org/Person">
  <div class="pull-right speak-french"></div>

  <h1>
    <!--<div class="book-me">
      <a href="/portfolio" class="btn btn-lg">Portfolio</a>
    </div>-->
    <span class="hello">
      Hello,
    </span>
  </h1>

  <p>
    I am <a href="/"><span itemprop="name">JK Park</span></a>.
  </p>

</section>

<div class="separator"></div>
<div  style="border-bottom: 1px solid #ddd"></div>
<div class="separator"></div>

<section class="inner">
  <h1>Recent Posts</h1>
  <ul class="posts">
    {% for post in site.posts limit: 3 %}
      {% if post.english %}
      <li>
        <strong><a href="{{ post.url }}">{{ post.title }}</a></strong>
        <br />
        <span class="date">{{ post.date | date_to_string }}</span>
        <br />
        <span class="description">{{ post.description }}</span>
      </li>
      {% else %}
        {% continue %}
      {% endif %}
    {% endfor %}
  </ul>
</section>