<header class="inner masthead">
        <div class="pull-right right logo">
            <div class="name">
                <a href="/">{{ site.author }}<br />
                <small><em>jkpark.github.io</em></small>
                </a></div>
            <img class="avatar" src="{{ site.avatar }}" alt="" />
        </div>
        <nav class="pull-left">
            <a class="{% if page.category == 'about' %} selected {% endif %}" href="/">About</a>
            <!--<a class="{% if page.category == 'portfolio' %} selected {% endif %}" href="/portfolio/">Portfolio</a>-->
            <a class="{% if page.category == 'blog' %} selected {% endif %}" href="/blog/">Blog</a>
            <a class="{% if page.category == 'ubuntu1804' %} selected {% endif %}" href="/ubuntu1804/">Home Server</a>
        </nav>
        <div class="clear"></div>
</header>
