---
layout: default
title: Home Server With Ubuntu18.04
category: ubuntu1804
---

<div class="separator"></div>

# 깃북으로 옮깁니다.
https://jkpark.gitbook.io/ubuntu/

<div class="spacer"></div>
Old...

<section class="inner">
    <ul class="posts">
        {% for post in site.ubuntu1804s %}
        <li>
            <strong><a href="{{ post.url }}">{{ post.title }}</a></strong>
            {% if post.english %}
            <span class="english-post">Posted in English.</span>
            {% endif %}
            <br />
            <span class="description">{{ post.description }}</span>
        </li>
        {% endfor %}
    </ul>
</section>
