---
layout: default
title: Portfolio
description: JK Park's Portfolio
category: about
---
<div class="inner">
  <p id="projects">
  Here are some of the projects I worked on.
  </p>
  {% for project in site.data.projects %}
  <section>
    <img class="inline pull-right" src="/images/portfolio/{{ project.image }}"
         alt="{{ project.name }} Screenshot" width="240">
    <h2><a href="{{ project.url }}">{{ project.name }}</a></h2>
    <h3>{{ project.oneliner }}</h3>
    <p>{{ project.description}}</p>
    <p>
    <strong>My role :</strong> {{ project.role }}</br>
    <strong>Language :</strong> {{ project.language }}
    </p>
    <p>
      <strong>What I Learned</strong></br>
      - {{ project.what-i-learned | join: "</br>- " }}
    </p>
    <p>
      <strong>Achievements</strong></br>
      - {{ project.achievements | join: "</br>- " }}
    </p>
  </section>
    {% unless forloop.last %}
    <div class="spacer"></div>
    {% endunless %}
  {% endfor %}
</div>

<div class="spacer"></div>

<!--
<div class="inner">
  <p class="fancy" id="techs">
  My Technical Experience
  </p>
  <section>
    {% for tech in site.data.techs %}
    <p>
      <strong>{{ tech.name }}</strong></br>
      {{ tech.data | join: ", " }}
    </p>
    {% endfor %}
  </section>
</div>
-->
