---
layout: default
title: Portfolio
description: JK Park's Portfolio
category: portfolio
---

<div class="inner">
  <h5>Portfolio</h5>

  <p class="fancy">
  저는 2012년 정보보안 전공으로 <a href="http://www.koreait.ac.kr">한국IT전문학교</a>를 졸업하였습니다.
  졸업 프로젝트로 <a href="http://www.indiecoders.org/portfolio/d3s">D3S프로젝트</a>를 진행하여
  교내 프로젝트 경진대회에서 최우수상을 수상하였습니다. <a href="http://www.kyungwoo.com/">경우시스테크</a>에 재직했었고
  현재는 <a href="http://www.samsung.com/sec/">삼성전자</a>에서 재직 중 입니다.
  앞으로도 훌륭하고 멋진 소프트웨어를 만들기 위해 꾸준히 노력하겠습니다.

  </p>


  <ul class="portfolio-nav">
    <li {% if page.url == '/portfolio/index.html' %}class="active"{% endif %}>
      <a href="#projects">Projects</a>
    </li><li {% if page.url == '/portfolio/tech.html' %}class="active"{% endif %}>
      <a href="#techs">Tech.</a>
    </li>
  </ul>
</div>

<div class="spacer"></div>

<div class="inner">
  <p class="fancy" id="projects">
  Here are some of the projects I worked on.
  </p>

  {% for project in site.data.projects %}
  <section>
    <img class="inline pull-right" src="/images/portfolio/{{ project.image }}"
         alt="{{ project.name }} Screenshot" width="240">
    <h2><a href="{{ project.url }}">{{ project.name }}</a></h2>
    <h3>{{ project.oneliner }}</h3>
    <p>{{ project.description}}</p>
    <p>
    <strong>My role :</strong> {{ project.role }}</br>
    <strong>Language :</strong> {{ project.language }}
    </p>
    <p>
      <strong>What I Learned</strong></br>
      - {{ project.what-i-learned | join: "</br>- " }}
    </p>
    <p>
      <strong>Achievements</strong></br>
      - {{ project.achievements | join: "</br>- " }}
    </p>
  </section>
    {% unless forloop.last %}
    <div class="separator"></div>
    {% endunless %}
  {% endfor %}
</div>

<div class="spacer"></div>

<div class="inner">
  <p class="fancy" id="techs">
  My Technical Experience
  </p>
  <section>
    {% for tech in site.data.techs %}
    <p>
      <strong>{{ tech.name }}</strong></br>
      {{ tech.data | join: ", " }}
    </p>
    {% endfor %}
  </section>
</div>
