
.content * {
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5 {
    padding-top: 2em;
    padding-bottom: 0.5em;

    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

.content h1 {
    font-size: 2em;
    font-weight: bold;
}
.content h2 {
    font-size: 1.5em;
}
.content h3 {
    font-size: 1em;
}
.content h4 {
    font-size: small;
}

.content hr {
    margin-top: 1em;
    margin-bottom: 1em;
}

.content li {
    margin-left: 1.5em;
}
.content li + li {
    margin-top: 0.5em;
}

.content table {
    margin: auto;
    font-size: inherit;
    border-collapse: collapse;
    width: 100%;
  }

.content table td,
.content table th {
    border: 1px solid var(--color-border);
    padding: 0.4em;
  }

.content pre {
    border-width: 1px 0px;
    border-style: solid none;
    border-color: rgb(210, 210, 210);
    margin: 1em 0;
    padding: 1em;
    background-color: var(--color-bg-secondary) !important;
    line-height: 140%;
}

.content code {
    border: 1px solid rgb(210, 210, 210);
    padding: 2px;
}

.content pre code {
    border: none;
    padding: 0px;
}

.content blockquote {
    border-left: 3px solid #ddd;
    margin-left: 1em;
    padding-left: 1em;
}

.content img {
    max-width: calc(var(--max-width) - 100px);
    margin-left: 50px;
    margin-right: 50px;
}