---
layout: default
---
{% if page.photo %}
<div class="post-photo" style="background-image: url('/images/posts/{{ page.photo }}')">

</div>
{% endif %}

<article>
  <div class='inner title'>
    <h1>{{ page.title }}</h1>

    <p class="meta">
    {{ page.date | date: "%A %-d %B %Y" }}</br>
    {% if page.tags.size > 0 %}
      {% for tag in page.tags %}
      <a href="/blog/search?tags={{ tag }}">#{{ tag }}</a>
      {% endfor %}
    {% endif %}
    </p>
    
    {% if page.english %}
    <div class="suggest-translate">
      이 문서는 영어로 되어있습니다.
      <a href="http://translate.google.com/translate?sl=en&amp;tl=kr&amp;u={{ site.url }}{{ page.url }}">
        구글 번역을 원하시면 여기를 클릭해주세요</a>.
    </div>
    {% endif %}
  </div>
  <div class="post">
    {{ content }}
  </div>
</article>

<div class="separator"></div>
<div class="page-nav sticky-bottom">
  <div class="inner">
  {% if page.previous.url %}
    <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
  {% endif %}
    <a class='top' href="#">Top</a>
  {% if page.next.url %}
    <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
  {% endif %}
  </div>
</div>
<div class="separator"></div>
{% include disqus.html %}